.title {
    font-size: 3em;
    margin-bottom: 0em;
}

.search {
    display: inline;
    width: 75%;
    margin-bottom: 1.5em;
}

.btn {
    background-color:var(--green-dark);
    padding-left: 8%;
    padding-right: 8%;
}

.btn:hover, .btn:focus {
    background-color: #387e4f;
    border-color: #387e4f;
    color: white;
}