
.square {
    background-color: var(--blue-green);
    border: solid white 3px;
    
}

.name {
    font-size: 1.3em;
}

.sciName {
    font-size: 1em;
}

.btn {
    background-color: var(--blue-dark);
    color: white;
    border-width: 1px;
    border-style: none;
}

